@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


.Nav_{
    padding-left: 10%;
    padding-right: 10%;
}

.Nav_>.top{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #D4D7DD;
    align-items: center;
}
.Nav_>.top>.left{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.Nav_>.top>.left>li{
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height, or 107% */
    margin-right: 10px;
    text-transform: uppercase;
    
    color: #41444B;
}

.displayNnone{
    display: none;
}

.Nav_>.top>.right{
    list-style: none;
    display: flex;
}
.Nav_>.top>.right>li{
    color: #1e4b9b;
    margin-right: 5px;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}

.nav>.logo{
    width: 103px;
    height: 28px;
}

.navBar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    z-index: 2;
}

.navBar>li{
    margin-right: 30px;
    cursor: pointer;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    color: #00215B;
    padding-top: 0;
    border-top: 4px solid transparent;
}
.navBar>li:hover{
    border-top: 4px solid #F45905;
}
.Elements{
    list-style: none;
    margin-top: -13px;
    position: relative;
    padding-bottom: 5px;
}
.Elements>h3{
    
}
.Elements>h3>.icon{
    transform: scale(1.4);
    padding-top: 10px;
}
.Elements:hover .DropDown{
    display: flex;
}
.DropDown:hover{
    display: flex;
}
.DropDown{
    display: none;
    flex-direction: column;
    list-style: none;
    position: absolute;
    left: 0px;
    top: 45px;
    justify-content: center;
    
    background: white;
    border-top: 4px solid #00215B;
    padding-left: 0;
}

.DropDown>li{
    width: max-content;
    line-height: 40px;
    text-transform: capitalize;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #083075;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.DropDown>li:hover{
    color: #F45905;
}

.IconMenu{
    display: none;
    color: #F45905;
    background: white;
    transform: scale(1.4);
    border-radius: 2px;
    cursor: pointer;
    z-index: 2;
}


.Footer{
    display: flex;
    width: 100%;
}
.Footer>.left{
    width: 40%;
    background-color: #F45905;
    padding-top: 40px;
    padding-left: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.Footer>.left>.logo{
    
}
.Footer>.left>.title{
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height, or 107% */
    margin-top: 60px;
    text-transform: uppercase;
    
    color: #EBECEE;
}
.Footer>.left>.Number{
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
    margin-top: 0px;
}
.Footer>.left>.SocialMedia{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.Footer>.left>.SocialMedia>li:hover{
    background: #00215B;
    color: white;
}
.Footer>.left>.SocialMedia>li{
    margin-right: 20px;
    color: #083075;
    background: white;
    border-radius: 50%;
    padding: 4px;
    transform: scale(1.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Footer>.left>.desc{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    /* or 165% */
    color: #EBECEE;
    max-width: 250px;
}

.Footer>.right{
    width: 70%;
    padding-right: 30px;
    padding-left: 30px;
    background: #00215B;
    padding-top: 30px;
}
.Footer>.right>.top{
    display: flex;
    justify-content: center;
}
.Footer>.right>.top>.First{
    width: 32%;
}
.Footer>.right>.top>.Second{
    width: 32%;
    margin-right: 20px;
}
.Footer>.right>.top>.third{
    width: 32%;
}

.Footer>.right>.top>.First>.title,.Footer>.right>.top>.Second>.title,.Footer>.right>.top>.third>.title{
    font-family: Kanit;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 118% */
    color: #FFFFFF;
}

.Footer>.right>.top>.First>.Ele,.Footer>.right>.top>.Second>.Ele{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    /* identical to box height, or 165% */
    color: #D4D7DD;
}

.Footer>.right>.top>.third>.title{

}
.Footer>.right>.top>.third>.dot{
    display: flex;
    list-style: none;
}

.Footer>.right>.top>.third>.dot>li{
    height: 10px;
    width: 10px;
    border-radius: 50%;

}
.Footer>.right>.bottom{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 165% */
    
    
    color: #D4D7DD;
    
}
.NewsCard{

}
.NewsCard>.title{
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    /* or 144% */
    color: #D4D7DD;
}
.NewsCard>.by_date{
    display: flex;
    font-family: Kanit;
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 15px;
    margin-top: -20px;
    margin-left: 0px;
    /* identical to box height, or 107% */
    color: #EBECEE;
}
.NewsCard>.by_date>.date{
    margin-right: 10px;
}
.NewsCard>.by_date>.by{
    
}
@media (max-width: 800px){
    .Footer{
        flex-direction: column;
    }
    .Footer>.right{
        width: 100%;
    }
    .Footer>.left{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .Footer>.left>.desc{
        max-width: none;
    }
}

@media (max-width: 1240px){
    .navBar{
        display: none;
        flex-direction: column;
        position: absolute;
        background: white;
        top: 70px;
        left: 0;
        width: 100%;
        border-top: 4px solid #00215B;
        padding-top: 10px;
    }
    .nav{
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .navBar>li{
        margin-top: -10px;
    }
    .Elements{
        margin-top: 0;
    }
    .navBar>li:hover{
        border-top: 1px solid transparent;
        color: #F45905;
    }
    .nav{
        margin-top: 33px;
    }
    .Elements>h3{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .Elements>h3>.icon{
        margin-right: 20px;
    }
    .IconMenu{
        display: flex;
    }
    .DropDown{
        position: inherit;
        margin-top: -45px;
        margin-bottom: 40px;
        align-items: flex-start;
    }
}